{% load static %} 
{% block main_css%}
<!-- https://bootswatch.com/superhero/ -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css"></i>
<!DOCTYPE html>
<html>
    
    <head>
        <title> Henri Vandersleyen</title>
    </head>
    <body>
        
        {% include 'navbar.html' %}
        {% block content %}
        
        {% endblock %}
        
    </body>
    <footer>

    </footer>
        {% include 'footer.html' %}
    </html>
{% endblock %}