
{% load static %}
<!-- https://fontisto.com/icons -->
<!-- social media link -->
<div class='table'>
    <ul  id="footer-list">
        <li href="https://github.com/Vanderscycle" target="_blank"><i class="fi fi-github" alt="Github"></i></li>
        <li href="https://github.com/Vanderscycle" target="_blank"><i class="fi fi-linkedin" alt="Linkdin"></i></li>
    </ul>
</div> 
<!-- business -->
<div class='table'>
    <ul id="footer-list">
        <li >Copyright {% now "Y" %}</li>
    </ul>
    <ul id="footer-list">
        <li text-align:center;>Henri Vandersleyen</li>
    </ul>
</div>