
.table {
    text-align: center;
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
ul#footer-list {
	min-width: 400px;
	list-style: none;
	padding-top: 20px;
    
	}
ul#footer-list li {
		display: vertical;
	}
ul#footer-list a {
		display: inline;
        padding: 40px
	}
.profile-img {
	border-radius: 50%;
	width:200px
	}
.test {
	margin: auto;
	width: 50%;
	max-width: 600px;
	text-align: center;
} 
.container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
  }
.container-card {
	margin: 10px
}